:root {
  --nav-background-color: #262c18;
  --header-text-color: #fff;
  --nav-btn-border-color: #fff;
  --nav-underline-color: #fff;
  --btn-background-color-hover: #fff;
  --btn-color-hover: #000;
  --advice-section-background-color: #e6e1dc;
  --choose-demo-section-background-color: #faf8f5;
  --choose--item-unannounced-background-color: #f2ede9;
  --unannounced-text-color: #cdc9c6;
  --customer-benefits-card-odd: #faf8f6;
  --customer-benefits-card-even: #f2ede9;
  --customer-benefits-card-subtitle-text-color: #696866;
  --elementor-builder-description-text-color: #696866;
  --portfolio-section-background-color: #f2ede9;
  --woo-commerce-btn-color: #fff;
  --woo-commerce-btn-background: rgb(56, 62, 41);
  --elegro-btn-color: #fff;
  --elegro-btn-background: rgb(196, 164, 144);
  --image-list-background-color: rgb(250, 248, 246);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* header */

header {
  height: 54em;
  width: 100%;
  background-color: var(--nav-background-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 4em;
}
.nav--items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.nav--items li a {
  margin: 1.2em;
}
.nav a {
  text-decoration: none;
  color: var(--header-text-color);
}
.nav--item {
  position: relative;
  padding-bottom: 0.3em;
}
.nav--item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: var(--nav-underline-color);
  transition: width 0.3s ease-in-out;
}
.nav--item:hover:after {
  width: 100%;
}
.nav--logo {
  text-transform: uppercase;
  font-size: 25px;
}
.nav--btn {
  border: 1px solid var(--nav-btn-border-color);
  padding: 1em 2em;
}
.nav--btn:hover {
  background-color: var(--btn-background-color-hover);
  color: var(--btn-color-hover);
  transition: background-color 0.3s ease-in-out;
}
.header__site--description {
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: var(--header-text-color);
  line-height: 90%;
  padding: 0.3em 0;
}
.header__main__image--container {
  position: relative;
  z-index: 1;
}
.header__description--center {
  width: 640px;
  max-width: 100vw;
  margin: 0 auto;
}
.header__site__name--background {
  text-transform: uppercase;
  font-size: 245px;
  color: var(--header-text-color);
  opacity: 0.2;
  margin-top: -13%;
  height: 26.5%;
}
.uppercase-text {
  text-transform: uppercase;
}
.main__section--advice {
  font-size: 18px;
  text-align: center;
  background-color: var(--advice-section-background-color);
  height: 5em;
  padding-top: 2em;
}

/* generic stylings for section title and first 2 sections layout */

.main__section--title {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 40px;
}
.main__section--description {
  font-size: 18px;
  margin-top: 2em;
  line-height: 1.5em;
  color: var(--elementor-builder-description-text-color);
}
.section {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.38rem;
}

/* choose your demo section */

.main__section--choose {
  background-color: var(--choose-demo-section-background-color);
  height: 55em;
}
.main__section--choose--items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 8%;
  height: fit-content;
  text-align: center;
  padding: 0 1em;
}
.main__image--container {
  height: 0;
  padding-bottom: 60%;
  position: relative;
  margin-bottom: 20px;
}
.main__section--choose--item img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__section--choose--item span {
  margin-top: 0;
}
.main__section--choose--item.unannounced {
  background-color: var(--choose--item-unannounced-background-color);
  height: 85%;
}
#coming-soon {
  display: inline-block;
  margin: 25% 0;
  text-align: center;
  color: var(--unannounced-text-color);
}
.main__section--choose--item img:hover {
  transform: translateY(-5%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgb(14, 14, 14);
}

/* customer benefits section */

.main__customer__benefits--section {
  margin: 3em 0;
}
.main__customer__benefits--cards {
  height: 50em;
}
.main__customer__benefits--card {
  flex: 0 0 32%;
  height: 0;
  padding-bottom: 27%;
  position: relative;
}
.main__customer__benefits--card:nth-of-type(2n) {
  background-color: var(--customer-benefits-card-even);
}
.main__customer__benefits--card:nth-of-type(2n + 1) {
  background-color: var(--customer-benefits-card-odd);
}

.main__customer__benefits--card img {
  position: absolute;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 20%;
}
.main__customer__benefits--card--title {
  font-size: 24px;
  margin-top: 10em;
}
.main__customer__benefits--card--subtitle {
  font-size: 20px;
  color: var(--customer-benefits-card-subtitle-text-color);
}
.main__customer__benefits--card--title.text,
.main__customer__benefits--card--subtitle.text {
  text-align: center;
}

/* elementor page builder section */

.main__elementor__builder--section {
  width: 90%;
  margin-left: 5%;
  height: 30em;
}
.main__elementor__builder--section--title {
  font-size: 40px;
  padding-top: 3em;
}
.main__elementor__builder--section--description {
  width: 50%;
}
.main__elementor__builder--section--options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 30%;
  margin-left: 5%;
  margin-top: 4%;
  font-size: 18px;
}
.main__elementor__builder--section--option {
  padding-bottom: 1.3em;
}
.main__elementor__builder--section--aside {
  height: 0;
  width: 40%;
  position: relative;
  left: 60%;
  bottom: 90%;
  padding-bottom: 40%;
}
.main__elementor__builder--section--aside img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* portfolio layouts section */

.main__portfolio--section {
  margin-top: 10em;
  height: 48em;
  background-color: var(--portfolio-section-background-color);
}
#main__portfolio--section--description {
  width: 32%;
  text-align: center;
  margin-left: 34%;
}
.main__portfolio--section--layout--examples {
  margin-top: 3em;
  height: 0;
  width: 75%;
  padding-bottom: 25%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main__portfolio--section--layout--example img {
  position: absolute;
  width: 33%;
  height: 100%;
  object-fit: cover;
}

/* sell like a woo commerce section */

#main__woo__commerce--title {
  width: 40%;
  height: 30%;
  text-align: left;
  position: relative;
  left: 60%;
  top: 5em;
}
.main__woo__commerce--section--aside {
  height: 0;
  width: 40%;
  position: relative;
  left: 10%;
  top: -70%;
  padding-bottom: 40%;
}
.main__woo__commerce--section--aside img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main__woo__commerce--section--description {
  width: 36%;
  margin-left: 60%;
  position: relative;
  bottom: 20em;
}
.main__woo__commerce--button {
  font-size: 18px;
  text-decoration: none;
  color: var(--woo-commerce-btn-color);
  background-color: var(--woo-commerce-btn-background);
  padding: 1em 2em;
  position: relative;
  bottom: 15em;
  left: 48em;
}
/* elegro section */
.main__elegro--section {
  display: flex;
  justify-content: space-around;
  padding: 0 4em;
  height: 45em;
}
#main__elegro--section--title {
  text-align: left;
  width: 80%;
  margin: auto 5%;
}
#main__elegro--section--description {
  width: 60%;
  margin: 0em 1.4em;
}
.main__elegro--section--btn {
  text-decoration: none;
  color: var(--elegro-btn-color);
  background-color: var(--elegro-btn-background);
  padding: 1em 2em;
  display: inline-block;
  margin: 3em 1.4em;
}
.main__elegro--image--container {
  height: 0;
  padding-bottom: 43%;
  position: relative;
  width: 100%;
  top: 4em;
}
.main__elegro--image--container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*  grid with images after elegro section */
.main__image--list {
  height: 25em;
  background-color: var(--image-list-background-color);
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 2%;
  padding: 7.5em 3em;
}
.main__image--list p {
  text-align: center;
}
.main__image--list--container {
  height: 10em;
  width: 10em;
  position: relative;
}
.main__image--list--container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
