:root {
  --nav-background-color: #262c18;
  --header-text-color: #fff;
  --nav-btn-border-color: #fff;
  --nav-underline-color: #fff;
  --btn-background-color-hover: #fff;
  --btn-color-hover: #000;
  --advice-section-background-color: #e6e1dc;
  --choose-demo-section-background-color: #faf8f5;
  --choose--item-unannounced-background-color: #f2ede9;
  --unannounced-text-color: #cdc9c6;
  --customer-benefits-card-odd: #faf8f6;
  --customer-benefits-card-even: #f2ede9;
  --customer-benefits-card-subtitle-text-color: #696866;
  --elementor-builder-description-text-color: #696866;
  --portfolio-section-background-color: #f2ede9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

header {
  height: 54em;
  width: 100%;
  background-color: var(--nav-background-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 4em;
}
.nav--items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.nav--items li a {
  margin: 1.2em;
}
.nav a {
  text-decoration: none;
  color: var(--header-text-color);
  font-family: "Poppins", sans-serif;
}
.nav--item {
  position: relative;
  padding-bottom: 0.3em;
}
.nav--item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: var(--nav-underline-color);
  transition: width 0.3s ease-in-out;
}
.nav--item:hover:after {
  width: 100%;
}
.nav--logo {
  text-transform: uppercase;
  font-size: 25px;
}
.nav--btn {
  border: 1px solid var(--nav-btn-border-color);
  padding: 1em 2em;
}
.nav--btn:hover {
  background-color: var(--btn-background-color-hover);
  color: var(--btn-color-hover);
  transition: background-color 0.3s ease-in-out;
}
.header__site--description {
  margin-left: 28%;
  width: 45%;
  text-align: center;
  font-size: 45px;
  color: var(--header-text-color);
  line-height: 90%;
}
.header__main__image--container {
  margin-left: 28%;
  margin-top: 3%;
  position: relative;
  z-index: 1;
}
.header__site__name--background {
  text-transform: uppercase;
  font-size: 245px;
  color: var(--header-text-color);
  opacity: 0.2;
  margin-top: -11%;
  height: 26.5%;
}
.uppercase-text {
  text-transform: uppercase;
}
.main__section--advice {
  font-size: 18px;
  text-align: center;
  background-color: var(--advice-section-background-color);
  height: 5em;
  padding-top: 2em;
}

/* generic stylings for section title and first 2 sections layout */

.main__section--title {
  padding-top: 3em;
  text-align: center;
  font-size: 40px;
}
.main__section--description {
  font-size: 18px;
  margin-top: 2em;
  line-height: 1.5em;
  color: var(--elementor-builder-description-text-color);
}
.section {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* choose your demo section */

.main__section--choose {
  background-color: var(--choose-demo-section-background-color);
  height: 60em;
}
.main__section--choose--items {
  height: 40em;
}
.main__section--choose--item {
  flex: 0 0 32%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}
.main__section--choose--item img {
  position: absolute;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.main__section--choose--item span {
  font-size: 22px;
  display: inline-block; /* added so I can add margin for span */
  margin-top: 70%;
  margin-left: 40%;
}
.main__section--choose--item.unannounced {
  background-color: var(--choose--item-unannounced-background-color);
  padding-bottom: 18%;
}
#coming-soon {
  display: inline-block;
  margin-top: 25%;
  margin-right: 30%;
  color: var(--unannounced-text-color);
}
.main__section--choose--item img:hover {
  transform: translateY(-5%);
  transition: transform 0.3s ease-in-out;
}

/* customer benefits section */

.main__customer__benefits--cards {
  height: 50em;
}
.main__customer__benefits--card {
  flex: 0 0 32%;
  height: 0;
  padding-bottom: 27%;
  position: relative;
}
.main__customer__benefits--card:nth-of-type(2n) {
  background-color: var(--customer-benefits-card-even);
}
.main__customer__benefits--card:nth-of-type(2n + 1) {
  background-color: var(--customer-benefits-card-odd);
}

.main__customer__benefits--card img {
  position: absolute;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 20%;
}
.main__customer__benefits--card--title {
  font-size: 24px;
  margin-top: 10em;
}
.main__customer__benefits--card--subtitle {
  font-size: 20px;
  color: var(--customer-benefits-card-subtitle-text-color);
}
.main__customer__benefits--card--title.text,
.main__customer__benefits--card--subtitle.text {
  text-align: center;
  font-family: inherit;
}

/* elementor page builder section */

.main__elementor__builder--section {
  width: 90%;
  margin-left: 5%;
  height: 30em;
}
.main__elementor__builder--section--title {
  font-size: 40px;
  padding-top: 3em;
}
.main__elementor__builder--section--description {
  width: 50%;
}
.main__elementor__builder--section--options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 30%;
  margin-left: 5%;
  margin-top: 4%;
  font-size: 18px;
}
.main__elementor__builder--section--option {
  padding-bottom: 1.3em;
}
.main__elementor__builder--section--aside {
  height: 0;
  width: 40%;
  position: relative;
  left: 60%;
  bottom: 90%;
  padding-bottom: 40%;
}
.main__elementor__builder--section--aside img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* portfolio layouts section */

.main__portfolio--section {
  margin-top: 10em;
  height: 48em;
  background-color: var(--portfolio-section-background-color);
}
#main__portfolio--section--description {
  width: 32%;
  text-align: center;
  margin-left: 34%;
}
.main__portfolio--section--layout--examples {
  margin-top: 3em;
  height: 0;
  width: 75%;
  padding-bottom: 25%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main__portfolio--section--layout--example img {
  position: absolute;
  width: 33%;
  height: 100%;
  object-fit: cover;
}
